<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.system.dao.RoleMapper">
    <select id="queryById" resultType="com.demo.system.domain.Role" parameterType="java.lang.String">
        SELECT
        id, name, status, is_super_admin as isSuperAdmin, create_time as createTime
        FROM
        sys_role
        WHERE
        id = #{id}
    </select>

    <select id="queryByOffset" resultType="com.demo.system.domain.Role">
        SELECT
        id, name, status, is_super_admin as isSuperAdmin, create_time as createTime
        FROM
        sys_role
        ORDER BY
        create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="queryByObject" parameterType="com.demo.system.domain.Role" resultType="com.demo.system.domain.Role">
        SELECT
        id, name, status, is_super_admin as isSuperAdmin, create_time as createTime
        FROM
        sys_role
        WHERE 1=1
        <if test="t.id != null &amp;&amp; t.id != ''">
            AND id=#{t.id}
        </if>
        <if test="t.name != null &amp;&amp; t.name != ''">
            AND name LIKE concat('%', #{t.name}, '%') COLLATE utf8_unicode_ci
        </if>
        <if test="t.status != null">
            AND status=#{t.status}
        </if>
        ORDER BY
        create_time DESC
    </select>

    <insert id="insert" parameterType="com.demo.system.domain.Role">
        <selectKey keyProperty="t.id" order="BEFORE" resultType="java.lang.String">
            SELECT uuid()
        </selectKey>
        INSERT INTO sys_role (id, name, status, is_super_admin, create_time)
        VALUES (#{t.id}, #{t.name}, #{t.status}, #{t.isSuperAdmin}, now())
    </insert>

    <insert id="insertSelective" parameterType="com.demo.system.domain.Role">
        <selectKey keyProperty="t.id" order="BEFORE" resultType="java.lang.String">
            SELECT uuid()
        </selectKey>
        INSERT INTO sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="t.name != null &amp;&amp; t.name != ''">
                name,
            </if>
            <if test="t.status != null">
                status,
            </if>
            <if test="t.isSuperAdmin != null">
                is_super_admin,
            </if>
            create_time
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{t.id},
            <if test="t.name != null &amp;&amp; t.name != ''">
                #{t.name},
            </if>
            <if test="t.status != null">
                #{t.status},
            </if>
            <if test="t.isSuperAdmin != null">
                #{t.isSuperAdmin},
            </if>
            now()
        </trim>
    </insert>

    <update id="updateById" parameterType="com.demo.system.domain.Role">
        UPDATE sys_role
        SET
        name=#{t.name},status=#{t.status},is_super_admin=#{t.isSuperAdmin},create_time=#{t.createTime}
        WHERE id=#{t.id}
    </update>

    <update id="updateByIdSelective" parameterType="com.demo.system.domain.Role">
        UPDATE sys_role
        SET
        <trim suffixOverrides=",">
            <if test="t.name != null &amp;&amp; t.name != ''">
                name=#{t.name},
            </if>
            <if test="t.status != null">
                status=#{t.status},
            </if>
            <if test="t.isSuperAdmin != null">
                is_super_admin=#{t.isSuperAdmin},
            </if>
            <if test="t.createTime != null">
                create_time=#{t.createTime},
            </if>
        </trim>
        WHERE id=#{t.id}
    </update>

    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM sys_role
        WHERE id=#{id}
    </delete>
</mapper>